<ion-view view-title="Randomizers">
  <ion-content ng-controller="PickerCtrl as picker">
    <h3 ng-click="picker.fireaway(picker.testArray)">Choose from the checked investigators</h3>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Players
        </div>
        <select ng-model="picker.playerToChoose">
          <option value="1">1 Player</option>
          <option value="2">2 Players</option>
          <option value="3">3 Players</option>
          <option value="4">4 Players</option>
          <option value="5">5 Players</option>
          <option value="6">6 Players</option>
          <option value="7">7 Players</option>
          <option value="8">8 Players</option>
        </select>
      </label>
    </div>

<!--     <button class="button button-block button-balanced" ng-click="picker.checkAll()">
      Check All
    </button> -->

    <ion-list>
      <ion-checkbox ng-repeat="eachCharacter in mainMenu.allCharacters"
        ng-model="isChecked"
        ng-change="picker.playerChoice(isChecked, eachCharacter.name)"
        name="baseSet">
        {{eachCharacter.name}}
        </ion-checkbox>
    </ion-list>

    <button class="button button-block button-balanced" ng-click="picker.fireaway(picker.testArray)">
      Choose from checked
    </button>

    <div>
       <h2>Test: {{picker.testArray}}</h2>
    </div>
  </ion-content>
</ion-view>
