<ion-view view-title="Randomizers">
  <ion-content ng-controller="PickerCtrl as picker">
    <h3 ng-click="picker.fireaway(picker.testArray)">Choose from the checked investigators</h3>
    <ion-list>

      <ion-checkbox ng-repeat="eachCharacter in mainMenu.allCharacters"
        ng-model="isChecked"
        ng-change="picker.playerChoice(isChecked, eachCharacter.name)">
        {{eachCharacter.name}}
        </ion-checkbox>

    </ion-list>
    <button class="button button-block button-balanced" ng-click="picker.fireaway(picker.testArray)">
      Choose from checked
    </button>

    <div>
       <h2>Test: {{picker.testArray}}</h2>
    </div>
  </ion-content>
</ion-view>
