<ion-view view-title="NewGame">
  <ion-content ng-controller="newGameCtrl as creator">
    <h1 class="list">Create a New Game</h1>
    <form class="list" name="newGameInput">
      <label class="item item-input">
        <input ng-model="creator.gameName" type="text" placeholder="Name of Game" required>
      </label>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Number of Players
          </div>
          <select ng-model="creator.game.numPlayers">
            <option value="1">1 Player</option>
            <option value="2">2 Players</option>
            <option value="3">3 Players</option>
            <option value="4">4 Players</option>
            <option value="5">5 Players</option>
            <option value="6">6 Players</option>
            <option value="7">7 Players</option>
            <option value="8">8 Players</option>
          </select>
        </label>
      </div>

    <div class="list">
      {{creator.game.numPlayers}} player(s)
    </div>
    <div ng-repeat="t in creator.game.players">
      <label class="item item-input">
        <input ng-model="t.name" type="text" placeholder="Player Name" required>
      </label>
      <div ng-show="t.name">
        <label class="item item-input item-select">
          <div class="input-label">
            Player's Character
          </div>
          <select ng-model="t.char">
            <option ng-repeat="character in creator.allCharacters" value="{{character.id}}">{{character.name}}</option>
          </select>
        </label>
      </div>
    </div>
    <div class="list">
      Total: {{creator.game}}
    </div>
<!--       <label class="item item-input">
        <textarea ng-model="creator.contentInput" placeholder="Content" rows="5" required></textarea>
      </label>
      <div class="button-bar">
        <a class="button button-balanced button-full" ng-disabled="noteInput.$invalid" ng-click="creator.addNote()">Save</a>
        <a class="button button-assertive button-full" ng-click="creator.clear()">Clear</a>
      </div>
    </form> -->




<!--     <ion-item class="item-divider">
      Characters
    </ion-item>
    <ion-item ng-repeat="character in mainMenu.allCharacters" href="#/app/research/{{character.id}}">
      {{character.name}}
    </ion-item>
    <ion-item class="item-divider">
      Ancient Ones
    </ion-item>
    <ion-item ng-repeat="ancient in mainMenu.allAncient" href="#/app/research/ancient/{{ancient.id}}">
      {{ancient.name}}
    </ion-item>
    <ion-item class="item-divider">
      Heralds
    </ion-item>
    <ion-item ng-repeat="herald in allHerald" href="#/app/research/{{herald.id}}">
      {{herald.name}}
    </ion-item> -->
  </ion-content>
</ion-view>
