<ion-view view-title="NewGame">
  <ion-content ng-controller="newGameCtrl as creator">
    <h1 class="list">Create a New Game</h1>
    <form class="list" name="newGameInput">
      <label class="item item-input">
        <input ng-model="creator.gameName" type="text" placeholder="Name of Game" required>
      </label>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Number of Players
          </div>
          <select ng-model="creator.playerToChoose">
            <option value="1">1 Player</option>
            <option value="2">2 Players</option>
            <option value="3">3 Players</option>
            <option value="4">4 Players</option>
            <option value="5">5 Players</option>
            <option value="6">6 Players</option>
            <option value="7">7 Players</option>
            <option value="8">8 Players</option>
          </select>
        </label>
      </div>
      <label class="item item-input">
        <input ng-model="creator.p1Name" type="text" placeholder="Player 1 Name" required>
        <div ng-show="creator.p1Name">
          <label class="item item-input item-select">
            <div class="input-label">
              Player Choice
            </div>
            <select ng-model="creator.p1Char">
              <option value="1">Amanda</option>
              <option value="2">Bob</option>
              <option value="3">Carolyn</option>
              <option value="4">Dexter</option>
              <option value="5">Evelyn</option>
              <option value="6">Frank</option>
              <option value="7">Gerald</option>
              <option value="8">Mandy</option>
            </select>
          </label>
        </div>
      </label>
      <label class="item item-input">
        <input ng-model="creator.p2Name" type="text" placeholder="Player 2 Name" required>
      </label>
      <label class="item item-input">
        <input ng-model="creator.p3Name" type="text" placeholder="Player 3 Name" required>
      </label>
      <label class="item item-input">
        <input ng-model="creator.p4Name" type="text" placeholder="Player 4 Name" required>
      </label>
      <label class="item item-input">
        <input ng-model="creator.p5Name" type="text" placeholder="Player 5 Name" required>
      </label>
      <label class="item item-input">
        <input ng-model="creator.p6Name" type="text" placeholder="Player 6 Name" required>
      </label>
      <label class="item item-input">
        <input ng-model="creator.p7Name" type="text" placeholder="Player 7 Name" required>
      </label>
      <label class="item item-input">
        <input ng-model="creator.p8Name" type="text" placeholder="Player 8 Name" required>
      </label>
    <div class="list">
      {{creator.playerToChoose}} player(s)
    </div>
    <div ng-repeat="t in creator.players">Player {{creator.players}}</div>
<!--       <label class="item item-input">
        <textarea ng-model="creator.contentInput" placeholder="Content" rows="5" required></textarea>
      </label>
      <div class="button-bar">
        <a class="button button-balanced button-full" ng-disabled="noteInput.$invalid" ng-click="creator.addNote()">Save</a>
        <a class="button button-assertive button-full" ng-click="creator.clear()">Clear</a>
      </div>
    </form> -->




<!--     <ion-item class="item-divider">
      Characters
    </ion-item>
    <ion-item ng-repeat="character in mainMenu.allCharacters" href="#/app/research/{{character.id}}">
      {{character.name}}
    </ion-item>
    <ion-item class="item-divider">
      Ancient Ones
    </ion-item>
    <ion-item ng-repeat="ancient in mainMenu.allAncient" href="#/app/research/ancient/{{ancient.id}}">
      {{ancient.name}}
    </ion-item>
    <ion-item class="item-divider">
      Heralds
    </ion-item>
    <ion-item ng-repeat="herald in allHerald" href="#/app/research/{{herald.id}}">
      {{herald.name}}
    </ion-item> -->
  </ion-content>
</ion-view>
