<ion-view view-title="Home (Quick Tools)">
  <ion-content>
    <ion-list>
      <ion-item class="bar bar-balanced" ng-click="mainMenu.newGame()">
        Start New Game
      </ion-item>
      <div class="item range">
			  <button class="button button-balanced" ng-click="mainMenu.rollDice(manyDice)">
				  Dice Me!
				</button>
				{{manyDice}}:
			  <input type="range" name="dice" min="1" max="25" ng-model="manyDice" ng-init="manyDice=1">
			</div>
			<ion-item class="item-divider">
      	Quick Pick Randomizers
    	</ion-item>
  	  <ion-item class="row">
        <button class="button col col-50 button-balanced" ng-click="mainMenu.pickCharacters(1)">
          1 Character
        </button>
        <button class="button col col-50 button-balanced" ng-click="mainMenu.pickCharacters(8)">
          8 Characters
        </button>
      </ion-item>
      <ion-item>
      	<button class="button button-block button-balanced" ng-click="mainMenu.pickAncientOne()">
          Ancient One
        </button>
      </ion-item>
      <ion-item>
      	<button class="button button-block button-balanced" ng-click="mainMenu.quickStart()">
          Quick Setup
        </button>
      </ion-item>
      <ion-item class="item-divider">
      	Limit References (based on players)
    	</ion-item>
			<ion-list>
				<div class="item row" ng-click="gates=8">
				  <ion-radio ng-model="players" ng-value="1" class="col col-50">1 Player</ion-radio>
				  <ion-radio ng-model="players" ng-value="2" class="col col-50">2 Players</ion-radio>
			  </div>
			  <div class="item row" ng-click="gates=7">
				  <ion-radio ng-model="players" ng-value="3" class="col col-50">3 Players</ion-radio>
				  <ion-radio ng-model="players" ng-value="4" class="col col-50">4 Players</ion-radio>
			  </div>
			  <div class="item row" ng-click="gates=6">
				  <ion-radio ng-model="players" ng-value="5" class="col col-50">5 Players</ion-radio>
				  <ion-radio ng-model="players" ng-value="6" class="col col-50">6 Players</ion-radio>
			  </div>
			  <div class="item row" ng-click="gates=5">
				  <ion-radio ng-model="players" ng-value="7" class="col col-50">7 Players</ion-radio>
				  <ion-radio ng-model="players" ng-value="8" class="col col-50">8 Players</ion-radio>
			  </div>
			</ion-list>
			<div class="item row">
			  <div class="col col-33">{{3+players}} Monsters</div>
			  <div class="col col-33">{{8-players}} in Outskirts</div>
			  <div class="col col-33">{{gates}} Open Gates</div>
			</div>
    </ion-list>
  </ion-content>
</ion-view>
