<ion-view view-title="Score Game">
  <ion-content ng-controller="endGameCtrl as victory">
    <form class="list" id="scoreForm">
      <div id="gamestate">
        <label class="item item-input">
          Name of Game:
          <input ng-model="victory.playingGame.name" type="text" readonly>
        </label>
        <label class="item item-input">
          Ancient One Faced:
          <input ng-model="victory.playingGame.foe" type="text" readonly>
        </label>
        <label class="item">
          Terror Level: {{terrorLevel}}
          <input type="range" name="terror" min="0" max="10" ng-model="terrorLevel" ng-init="terrorLevel=0">
        </label>
      </div>
      <ion-item ng-repeat="player in victory.playingGame.players">
        {{player.name}} played as {{player.char}}
      </ion-item>
      <div id="player1">
        <label>Player 1 Name:
          <input type="text" name="player1">
        </label>
        <label>Played as:
          <select name="investigator1" class="selectpicker">
            <option>Amanda Sharpe</option>
            <option>Bob Jenkins</option>
            <option>Mandy Thompson</option>
            <option>Ashcan Pete</option>
          </select>
        </label>
        <label>
          <input type="radio" name="loan1" value="1">Bank Loan/Bankrupt
        </label>
        <label>
          <input type="radio" name="loan1" value="0" checked>No Loan
        </label>
        <label>
          Number of Eldersigns Used:
          <input type="number" name="elder1" value="0" min="0">
        </label>
        <label>
          Number of Gate Trophies:
          <input type="number" name="gate1" value="0" min="0">
        </label>
        <label>
          Number of Monster Trophies:
          <input type="number" name="monster1" value="0" min="0">
        </label>
        <label>
          <input type="radio" name="survive1" value="1" checked>I survived!
        </label>
        <label>
          <input type="radio" name="survive1" value="0">I was Devoured
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
